[core]
	excludesfile = /Users/sxu204/.gitignore_global
[diff]
	tool = icdiff
[difftool]
	prompt = false
[difftool "icdiff"]
	cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[user]
	name = SharryXu
	email = sharry.r.xu@gmail.com
[commit]
	template = /Users/sxu204/.stCommitMsg
[rerere]
	enabled = 1
[sendemail]
	smtpserver = smtp.qq.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = 852083454@qq.com
[icdiff]
	options = --highlight --line-numbers
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[difftool "sourcetree"]
	cmd = icdiff --line-numbers $LOCAL $REMOTE
	path = 
